::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color:#011c27;
}

/* TOP */

.top { 
    background-color: #cfcfcf;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 2;
}

.top ul li {
    display: inline;
    text-decoration: none;
}

.text {
    font-style: normal;
    font-size: 17px;
    color: #494949;
    font-family: 'Lato', 'sans-serif';
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

}

#titulo1 {
    font-size: 20px;
    font-style: normal;
    font-family: 'Work Sans', 'sans serif';
    color: black;
    text-shadow: 0px 4px 4px 
    rgba(0, 0, 0, 0.25);
    font-weight: 800;
    margin-right: 65%;
}

/* hedear */
.header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2px;
    align-items: center;
    width: 100%;
    margin-top: 48px;
    position: fixed;
 background-color: #ffff;
 z-index: 2;
 left: 0;
}

#logo {
    margin-right: 190px;
    margin-left: 10px;
}

.txt a {
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', 'sans serif';
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
}

#home {
    text-decoration:underline;
    text-underline-offset: 0.4rem;   ;
}

.txt:hover {
    text-decoration:underline;
    text-underline-offset: 0.4rem; 
}

.buscar  {
    background-color: #dedede;
    color: black;
    font-family:  'Work Sans', 'sans serif'; 
    font-size: 14px;
    border-radius: 24px;
    width: 120px;
    line-height: 30px;
    transition: 1s;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 10px;
}

#lupa {
    margin-left: 8px;
    margin-right: 3px;
}


.buscar:hover {
    opacity: 0.5;
    background: rgba(28, 27, 27, 0.7)
}

#sacola {
    margin-left: 10px;
}

/* promocao */
.promocao {
    background-color: #cfcfcf;
    position: absolute;
    margin-top: 145px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family:  'Work Sans', 'sans serif';
    display: grid;
    grid-template-columns:  25px 30px 130px 500px 25px;
    align-items: center;
    justify-content: center;
    height: 6vh;
}

.promocao div {
display: grid;

}
#setas {
    margin-left: 5px;
    margin-right: 5px;
}

#textForte {
    font-weight: 600;
    margin-left: 5px;

}


/* imagem 2 */

#banner {
    margin-top: 200px;
}

.banner {
    text-align: center;
}

/* texto */ 

.texto1 {
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    font-family: 'Work Sans';
    text-align: center;
    margin-top: 50px;
}

.pararafo {
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    font-family:  'Work Sans';
    font-style: normal;
}

#marcas {
    margin-top: 60px;

}

.marcas {
    text-align: center;
}

/*missao valores e visao */ 
.missao_valores {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    margin-top: 80px;
}

#quadrados {

    background-color: #000000;
    width: 300px;
    border-radius: 20px;
}

#quadrados h2 {
    font-size: 30px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    text-align: center;
}

#quadrados p {
    font-size: 17px;
    font-family: 'Work Sans';
    font-weight: 200;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

.visao {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    margin-top: 30px;
}

/* FOOTER */ 

.footer {
    background-color: #000000;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -1400px;

}


.footer1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    width: 100%;

}

#UC {
    font-style: normal;
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 00.02em;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    
}

.tiles2 {
 font-size: 16px;
 font-style: normal;
 font-weight: 200;
 letter-spacing: 0.01em;
 font-family: 'Work Sans';
color: #ffffff;
margin-top: 30px;
cursor: pointer;
margin-bottom: 10px;
}

#redes {
    display: grid;
    color:#d1cccc;
    align-items: center;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Lato';
    font-weight: 200;
    margin-bottom: 20px;
}

.footer a {
  text-decoration: none;
}

.txt {
    color: #d3cdcd;
    font-family: 'Lato';
    font-weight: 200;
    margin-bottom: 20px;
    font-style: italic;

}

.floatimg {
    margin-top: -250px;
}

.pagamento {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.01em;
    font-family: 'Lato';
   color: #ffffff;
}

.ultimatxt {
    font-size: 14px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#d1cccc;

}

